## Data Preparation- combining Milk Production and Bovine Population

I wanted to combine new data sets I have saved from previous notebook after cleaning each dataset.

In [1]:
import pandas as pd
import seaborn as sns
%config InlineBackend.figure_format = 'retina'
sns.set_context('talk')
import warnings
warnings.filterwarnings('ignore')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
Milk_Production = pd.read_csv("Milk_Production_new_data.csv")
Bovine_Population= pd.read_csv("Bovine_new_data.csv")

In [3]:
Milk_Production.head()

    Country  Year    Amount
0   Belgium  2011   3151.00
1  Bulgaria  2011   1126.00
2   Czechia  2011   2735.93
3   Denmark  2011   4879.50
4   Germany  2011  30301.36

In [4]:
Bovine_Population.head()

    Country  Year   Amount
0   Belgium  2011   510.65
1  Bulgaria  2011   313.18
2   Czechia  2011   374.07
3   Denmark  2011   579.00
4   Germany  2011  4190.10

In [5]:
Milk_Production.shape

(297, 3)

In [6]:
Bovine_Population.shape

(297, 3)

In [10]:
Milk_Production = Milk_Production.rename(columns = {'Amount':'Milk Produced'})

In [12]:
Milk_Production.head()

    Country  Year  Milk Produced
0   Belgium  2011        3151.00
1  Bulgaria  2011        1126.00
2   Czechia  2011        2735.93
3   Denmark  2011        4879.50
4   Germany  2011       30301.36

In [11]:
Bovine_Population = Bovine_Population.rename(columns = {'Amount':'Number of Dairy Cows'} )

In [13]:
Bovine_Population.head()

    Country  Year  Number of Dairy Cows
0   Belgium  2011                510.65
1  Bulgaria  2011                313.18
2   Czechia  2011                374.07
3   Denmark  2011                579.00
4   Germany  2011               4190.10

In [37]:
#Merging Milk Production and Bovine Population datasets

Merged_data = pd.merge(Milk_Production, Bovine_Population, how='right')
Merged_data

      Country  Year  Milk Produced  Number of Dairy Cows
0     Belgium  2011        3151.00                510.65
1    Bulgaria  2011        1126.00                313.18
2     Czechia  2011        2735.93                374.07
3     Denmark  2011        4879.50                579.00
4     Germany  2011       30301.36               4190.10
..        ...   ...            ...                   ...
292   Romania  2021        3637.00               1081.90
293  Slovenia  2021         639.93                100.92
294  Slovakia  2021         902.64                120.07
295   Finland  2021        2161.46                248.53
296    Sweden  2021        2782.22                299.60

[297 rows x 4 columns]

In [38]:
Merged_data.to_excel('Milk_Bovine.xlsx', index = False)