In [14]:
import tkinter as tk
from pandas import DataFrame
import matplotlib.pyplot as plt
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg
import seaborn as sns
import pandas as pd
import numpy as np

In [15]:
data = pd.read_csv('Milk_Bovine.csv')
data

      Country  Year  Milk Produced  Number of Dairy Cows
0     Belgium  2011        3151.00                510.65
1    Bulgaria  2011        1126.00                313.18
2     Czechia  2011        2735.93                374.07
3     Denmark  2011        4879.50                579.00
4     Germany  2011       30301.36               4190.10
..        ...   ...            ...                   ...
292   Romania  2021        3637.00               1081.90
293  Slovenia  2021         639.93                100.92
294  Slovakia  2021         902.64                120.07
295   Finland  2021        2161.46                248.53
296    Sweden  2021        2782.22                299.60

[297 rows x 4 columns]

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               297 non-null    object
 1   Year                  297 non-null    int64
 2   Milk Produced         297 non-null    float64
 3   Number of Dairy Cows  297 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 9.4+ KB

In [17]:
root= tk.Tk()

In [20]:
figure1 = plt.Figure(figsize=(6,5), dpi=100)
ax1 = figure1.add_subplot(111)
bar1 = FigureCanvasTkAgg(figure1, root)
bar1.get_tk_widget().pack(side=tk.LEFT, fill=tk.BOTH)
data = data[['Country','Milk Produced']].groupby('Country').sum()
data.plot(kind='bar', legend=True, ax=ax1)
ax1.set_title('Country Vs. Milk Produced in Tonnes')

Text(0.5, 1.0, 'Country Vs. Milk Produced in Tonnes')

In [22]:
figure2 = plt.Figure(figsize=(5,4), dpi=100)
ax2 = figure2.add_subplot(111)
line2 = FigureCanvasTkAgg(figure2, root)
line2.get_tk_widget().pack(side=tk.LEFT, fill=tk.BOTH)
data= data[['Country','Number of Dairy Cows']].groupby('Country').sum()
data.plot(kind='line', legend=True, ax=ax2, color='r',marker='o', fontsize=10)
ax2.set_title('COuntry Vs. Number of Cows')

KeyError: "None of [Index(['Country', 'Number of Dairy Cows'], dtype='object')] are in the [columns]"

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, Austria to Sweden
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Milk Produced  27 non-null     float64
dtypes: float64(1)
memory usage: 432.0+ bytes

In [ ]:
figure3 = plt.Figure(figsize=(5,4), dpi=100)
ax3 = figure3.add_subplot(111)
ax3.scatter(df['Milk Produced'],df['Number of Dairy Cows'], color = 'g')
scatter3 = FigureCanvasTkAgg(figure3, root) 
scatter3.get_tk_widget().pack(side=tk.RIGHT, fill=tk.BOTH)
#ax3.legend(['Price']) 
ax3.set_ylabel('Price')
ax3.set_xlabel('Carat')
ax3.set_title('Carat Vs Price')

In [ ]:
root.mainloop()