# Sentiment Analysis

In [1]:
!pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\kftsu\anaconda3\lib\site-packages (0.21.0)

In [2]:
from dotenv import dotenv_values

config = dotenv_values('.env')

In [3]:
!pip install requests

Requirement already satisfied: requests in c:\users\kftsu\anaconda3\lib\site-packages (2.25.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kftsu\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kftsu\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in c:\users\kftsu\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\kftsu\anaconda3\lib\site-packages (from requests) (3.0.4)

In [4]:
import requests
import json

In [5]:
bearer_token = config["BEARER_TOKEN"]

search_url = "https://api.twitter.com/2/tweets/search/recent"

query_params = {
    'query' : "\"Butter\"Ireland -is:retweet",
    'max_results' : '50',
    'tweet.fields': 'author_id',
    'user.fields': 'name'
}

def bearer_oauth(r):
    r.headers["Authorization"] = f"Bearer {bearer_token}"
    r.headers["User-Agent"] = "v2RecentSearchPython"
    return r

def connect_to_endpoint(url, params):
    response = requests.get(url, auth=bearer_oauth, params=params)
    response.status_code
    return response.json()

json_response = connect_to_endpoint(search_url, query_params)

parsedRes = json.dumps(json_response, indent=3, ensure_ascii=False)
print(parsedRes)

{
   "data": [
      {
         "id": "1608553799244992512",
         "author_id": "251500395",
         "edit_history_tweet_ids": [
            "1608553799244992512"
         ],
         "text": "@JackLombardi @AdamKinzinger We are all ‚Äúglobalists‚Äù whether we like it or not. We live in a ‚Äúglobal‚Äù economy where we purchase oil from the Arabs, iPhones from the Chinese, vegetables from Mexico and Butter from Ireland. We travel globally. If we burn coal in our back yard it affects the globe. Get it?"
      },
      {
         "id": "1608493257683603456",
         "author_id": "732941099849912320",
         "edit_history_tweet_ids": [
            "1608493257683603456"
         ],
         "text": "Enjoy üáÆüá™ McCambridge soda bread mix across the water in USA üá∫üá∏\nA taste of Ireland that is hard to beat! We love our soda bread fresh from the oven, with lashings of real butter and your favourite jam! üòã\nOrder now from @amazon\n\nhttps://t.co/vvXd1nI8r6\n\n#IrishMade https://t.co/TUxr7pAXsv"
      },
      {
         "id": "1608349591920934914",
         "author_id": "1569070813",
         "edit_history_tweet_ids": [
            "1608349591920934914"
         ],
         "text": "https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ireland Tipperary Bread &amp; Butt https://t.co/fPxsMYaAOv"
      },
      {
         "id": "1608294795796955136",
         "author_id": "15258782",
         "edit_history_tweet_ids": [
            "1608294795796955136"
         ],
         "text": "@plentyofalcoves the things I saw them do with butter while I was in Ireland‚Ä¶ I‚Äôll be intimately involved with a slice of toast at a diner in Albany, but I remember the Irish breakfasts and it turns to ash in my mouth"
      },
      {
         "id": "1608184326499274752",
         "author_id": "1569070813",
         "edit_history_tweet_ids": [
            "1608184326499274752"
         ],
         "text": "https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ireland Tipperary Bread &amp; Butt https://t.co/GI4EvbU6lt"
      },
      {
         "id": "1608080492280135681",
         "author_id": "1569070813",
         "edit_history_tweet_ids": [
            "1608080492280135681"
         ],
         "text": "https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ireland Tipperary Bread &amp; Butt https://t.co/uQyG6YysyH"
      },
      {
         "id": "1608073307923906563",
         "author_id": "1478727624432173057",
         "edit_history_tweet_ids": [
            "1608073307923906563"
         ],
         "text": "Lots of #Brexit problems. About 2:09: An order for 35 gift boxes of River Caf√© goods to go to Ireland \"and FedEx told us we couldn't send in the boxes the linen napkins...couldn't send any chocolates because they had butter and we couldn't send my cookbooks - don't ask me why!\" https://t.co/YiAp9eCSDM"
      },
      {
         "id": "1608056702103863298",
         "author_id": "45626088",
         "edit_history_tweet_ids": [
            "1608056702103863298"
         ],
         "text": "I went from not having cows milk in few years and rarely eating a breakfast to coming home having full bowl of cereal with cows milk, toast with butter all before 11am. Food hits different in Ireland ‚ù§Ô∏è"
      },
      {
         "id": "1608042608009547776",
         "author_id": "3871294456",
         "edit_history_tweet_ids": [
            "1608042608009547776"
         ],
         "text": "@punchedmonet_ @alannah_siobhan Wasn't it an important port for the Brits to provision their ships? Butter, wheat &amp; cheese, whisky etc, flowed out of the midlands &amp; out of Ireland through Cork; also the Irish Oak that the brit navy sailed in? \nThat's why Cork has notions still?"
      },
      {
         "id": "1607779250463191040",
         "author_id": "14441449",
         "edit_history_tweet_ids": [
            "1607779250463191040"
         ],
         "text": "@DanKaszeta In Ireland \"green bacon\" refers to a whole joint of cured unsmoked pork. I was totally confused by this when visiting Ireland with my girlfriend in the 90s. Green bacon and cabbage with floury boiled potatoes and a ton of butter seems to be almost a national dish. https://t.co/TP6U3cnMyM"
      },
      {
         "id": "1607774097663983619",
         "author_id": "1569070813",
         "edit_history_tweet_ids": [
            "1607774097663983619"
         ],
         "text": "https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ireland Tipperary Bread &amp; Butt https://t.co/nQPn4dXnJU"
      },
      {
         "id": "1607677796033110016",
         "author_id": "806436971832889344",
         "edit_history_tweet_ids": [
            "1607677796033110016"
         ],
         "text": "Flaky, buttery, crispy...and tasty! We're looking forward to celebrating #NationalCroissantDay on the 30th of January and making the perfect croissants thanks to our rich, creamy butter gently churned in Ireland. #Butter #Croissants #LakelandDairies #Dairy https://t.co/P1iwYO9DIt"
      },
      {
         "id": "1607676232266563584",
         "author_id": "22124420",
         "edit_history_tweet_ids": [
            "1607676232266563584"
         ],
         "text": "Veronica Molloy from @crossoguep is one of Ireland's top producers of jams and preserves. She shares with us her special Brandy Butter Short Bread Biscuits. üë©‚Äçüç≥\n\n‚ú®Start cooking! üëâ https://t.co/QYJuuIqAYr\n\n#goodfoodireland #goodfoodirelandrecipe #biscuitrecipe#christmasrecipe https://t.co/RaTAre944X"
      },
      {
         "id": "1607535648159809537",
         "author_id": "1569070813",
         "edit_history_tweet_ids": [
            "1607535648159809537"
         ],
         "text": "https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ireland Tipperary Bread &amp; Butt https://t.co/4BU86IY4GV"
      },
      {
         "id": "1607422394477543426",
         "author_id": "1569070813",
         "edit_history_tweet_ids": [
            "1607422394477543426"
         ],
         "text": "https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ireland Tipperary Bread &amp; Butt https://t.co/c1LC01iFqr"
      },
      {
         "id": "1607234249278513152",
         "author_id": "1569070813",
         "edit_history_tweet_ids": [
            "1607234249278513152"
         ],
         "text": "https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ireland Tipperary Bread &amp; Butt https://t.co/34BNZOZJnZ"
      },
      {
         "id": "1607144496239677441",
         "author_id": "1569070813",
         "edit_history_tweet_ids": [
            "1607144496239677441"
         ],
         "text": "https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ireland Tipperary Bread &amp; Butt https://t.co/U3eUIX9TEF"
      },
      {
         "id": "1607116164748152832",
         "author_id": "16693774",
         "edit_history_tweet_ids": [
            "1607116164748152832"
         ],
         "text": "@cookdrinkfeast @solomonmissouri One time I was on a road trip in Ireland. Bought up so much butter there and took it back across the ferry to England. They have the good stuff."
      },
      {
         "id": "1606982005480382465",
         "author_id": "15359018",
         "edit_history_tweet_ids": [
            "1606982005480382465"
         ],
         "text": "@HillaryMonahan True story, you can't really get kerrygold cheese in Ireland. They're known here for their butter instead. The cheese is only for export (but it is tasty af)"
      },
      {
         "id": "1606980450270019584",
         "author_id": "1415277783874428929",
         "edit_history_tweet_ids": [
            "1606980450270019584"
         ],
         "text": "Happy Christmas to all from the √ìr-Real Irish Butter &amp; North Cork Creameries team.   Wishing all our customers, suppliers and community a happy and traditionally tasty Christmas!   \n#northcorkcreameries #√≥rbutter #realirish #grassfed #ireland #irishdairy https://t.co/h5oERoGdQj"
      },
      {
         "id": "1606716988272812032",
         "author_id": "1464258911637282822",
         "edit_history_tweet_ids": [
            "1606716988272812032"
         ],
         "text": "Ireland, we are under cuisine attack!!\n\nSoda Bread, Colcannon, Irish Stew, Best Beef in the World, Butter like no other, Sausages, pudding, Granny‚Äôs homemade jam, McDonnells curry sauce, yet we don‚Äôt even list??\n\nWhat exactly is our army for? https://t.co/5iemx9qpOH"
      },
      {
         "id": "1606702316878430209",
         "author_id": "22124420",
         "edit_history_tweet_ids": [
            "1606702316878430209"
         ],
         "text": "Veronica Molloy from @crossoguep is one of Ireland's top producers of jams and preserves. She shares with us her special Brandy Butter Short Bread Biscuits. üë©‚Äçüç≥\n\n‚ú®Start cooking! üëâ https://t.co/QYJuuIqAYr\n\n#goodfoodireland #goodfoodirelandrecipe #biscuitrecipe#christmasrecipe https://t.co/r15YImEIBh"
      },
      {
         "id": "1606688650489729024",
         "author_id": "1569070813",
         "edit_history_tweet_ids": [
            "1606688650489729024"
         ],
         "text": "https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ireland Tipperary Bread &amp; Butt https://t.co/nawyN4PQXn"
      },
      {
         "id": "1606592072508592128",
         "author_id": "2156045139",
         "edit_history_tweet_ids": [
            "1606592072508592128"
         ],
         "text": "@shahmiruk üòí Ireland doesn‚Äôt even make the list. The land of Kerry Gold butter. \nRidiculous."
      },
      {
         "id": "1606310553110061056",
         "author_id": "1569070813",
         "edit_history_tweet_ids": [
            "1606310553110061056"
         ],
         "text": "https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ireland Tipperary Bread &amp; Butt https://t.co/PbPESnpv6b"
      },
      {
         "id": "1606304663761870849",
         "author_id": "76678715",
         "edit_history_tweet_ids": [
            "1606304663761870849"
         ],
         "text": "@SocksWearer like, why wouldn't i?  Also: Kerry Gold butter in the US is all old and stale.  Buy Land O'Lakes or any local creamery butter. Support local farmers! \nhttps://t.co/CW3LkyfT7f"
      },
      {
         "id": "1606303725395460101",
         "author_id": "1183069363915644929",
         "edit_history_tweet_ids": [
            "1606303725395460101"
         ],
         "text": "@NoContextBrits Eh, Ireland has Kerrygold butter and Ballymaloe relish. They can make anything taste delicious."
      },
      {
         "id": "1606250342110220288",
         "author_id": "906758154",
         "edit_history_tweet_ids": [
            "1606250342110220288"
         ],
         "text": "@AyoCaesar Absolutely. Where the feck is Ireland?! Cabbage and potato mashed with @KerrygoldIRL butter beats tasteless pasta pebbledashed with bolognaise any day of the week."
      },
      {
         "id": "1606132788025036804",
         "author_id": "86675268",
         "edit_history_tweet_ids": [
            "1606132788025036804"
         ],
         "text": "@lawlorlara @DrSamiSchalk @TriciaBaron I will always remember my Kerrygold initiation. Dinner on a flight to Ireland for New Years, they had individual pads of Kerrygold butter for the rolls. I've been spreading the word ever since."
      },
      {
         "id": "1606123029448138753",
         "author_id": "30828102",
         "edit_history_tweet_ids": [
            "1606123029448138753"
         ],
         "text": "@David_JWest Just bought some imported pure Irish butter, haven‚Äôt had since I lived in Ireland. Super delicious."
      },
      {
         "id": "1606116533679243264",
         "author_id": "1408631071214772230",
         "edit_history_tweet_ids": [
            "1606116533679243264"
         ],
         "text": "@Cpaul_J Butter from Ireland."
      },
      {
         "id": "1606074351417266179",
         "author_id": "1569070813",
         "edit_history_tweet_ids": [
            "1606074351417266179"
         ],
         "text": "https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ireland Tipperary Bread &amp; Butt https://t.co/jZ4qMX0hLN"
      },
      {
         "id": "1606056272750555136",
         "author_id": "1016011410",
         "edit_history_tweet_ids": [
            "1606056272750555136"
         ],
         "text": "@DrBHJugs Ooh, I would really appreciate that! Thank you. If you like I'll send you mine, it has had twenty years of nurturing and changing times and measurements to go with Ireland and I think that stuff really makes a difference (humidity, butter, heat sources etc)."
      }
   ],
   "meta": {
      "newest_id": "1608553799244992512",
      "oldest_id": "1606056272750555136",
      "result_count": 33
   }
}

In [6]:
json_response['data'][20]['text']

'Ireland, we are under cuisine attack!!\n\nSoda Bread, Colcannon, Irish Stew, Best Beef in the World, Butter like no other, Sausages, pudding, Granny‚Äôs homemade jam, McDonnells curry sauce, yet we don‚Äôt even list??\n\nWhat exactly is our army for? https://t.co/5iemx9qpOH'

In [7]:
!pip install twitter-stream.py

Requirement already satisfied: twitter-stream.py in c:\users\kftsu\anaconda3\lib\site-packages (0.8.8)
Requirement already satisfied: PyYAML==5.4.1 in c:\users\kftsu\anaconda3\lib\site-packages (from twitter-stream.py) (5.4.1)
Requirement already satisfied: requests-oauthlib==1.3.0 in c:\users\kftsu\anaconda3\lib\site-packages (from twitter-stream.py) (1.3.0)
Requirement already satisfied: requests==2.25.0 in c:\users\kftsu\anaconda3\lib\site-packages (from twitter-stream.py) (2.25.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kftsu\anaconda3\lib\site-packages (from requests==2.25.0->twitter-stream.py) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\kftsu\anaconda3\lib\site-packages (from requests==2.25.0->twitter-stream.py) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kftsu\anaconda3\lib\site-packages (from requests==2.25.0->twitter-stream.py) (1.26.9)
Requirement already satisfied: idna<3,>=2.5 in c:\users\kftsu\anaconda3\lib\site-packages (from requests==2.25.0->twitter-stream.py) (2.10)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\kftsu\anaconda3\lib\site-packages (from requests-oauthlib==1.3.0->twitter-stream.py) (3.2.2)

In [8]:
twitter_keys=f'''keys:
    access_token: {config["API_KEY"]}
    access_token_secret: {config["API_KEY_SECRET"]}
    bearer_token: {config["BEARER_TOKEN"]}
'''
with open("C:/Users/kftsu/.twitter-keys.yaml", "w") as file:
    file.write(twitter_keys)
with open("C:/Users/kftsu/.twitter_keys.yaml", "w") as file:
    file.write(twitter_keys)

In [9]:
import pandas as pd
#import json
import csv

In [10]:
with open ('Cheese_ie.json', 'r', encoding='utf-8') as f:
    data= json.load(f)
    data = data['data']

with open ('Cheese_ie.csv', 'w', encoding='utf-8') as f:
    fieldnames = data[0].keys()
    writer= csv.DictWriter(f, fieldnames=fieldnames)
    writer.writeheader()
    for text in data:
        writer.writerow(text)

In [11]:
with open ('Butter_ie.json', 'r', encoding='utf-8') as f:
    data= json.load(f)
    data = data['data']

with open ('Butter_ie.csv', 'w', encoding='utf-8') as f:
    fieldnames = data[0].keys()
    writer= csv.DictWriter(f, fieldnames=fieldnames)
    writer.writeheader()
    for text in data:
        writer.writerow(text)

I want to combine tweets about Cheese and Butter in Ireland.

In [12]:
import pandas as pd
import seaborn as sns
%config InlineBackend.figure_format = 'retina'
sns.set_context('talk')
import warnings
warnings.filterwarnings('ignore')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [13]:
Butter_text_ie = pd.read_csv("Butter_ie.csv")
Cheese_text_ie= pd.read_csv("Cheese_ie.csv")

In [14]:
Butter_text_ie.head()

,edit_history_tweet_ids,author_id,id,text
0,['1608080492280135681'],1569070813,1608080492280135681,"https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ir..."
1,['1608073307923906563'],1478727624432173057,1608073307923906563,Lots of #Brexit problems. About 2:09: An order...
2,['1608056702103863298'],45626088,1608056702103863298,I went from not having cows milk in few years ...
3,['1608042608009547776'],3871294456,1608042608009547776,@punchedmonet_ @alannah_siobhan Wasn't it an i...
4,['1607779250463191040'],14441449,1607779250463191040,"@DanKaszeta In Ireland ""green bacon"" refers to..."

In [15]:
Cheese_text_ie.head()

,edit_history_tweet_ids,text,id,author_id
0,['1608069355526316033'],Spending between Xmas and NYE in Northern Irel...,1608069355526316033,1425376244875546624
1,['1608042608009547776'],@punchedmonet_ @alannah_siobhan Wasn't it an i...,1608042608009547776,3871294456
2,['1608023930052444160'],Ireland has had curry cheese chips for decades...,1608023930052444160,256131713
3,['1607901716212482048'],@JLHGameArt Just a flavor you're not used to. ...,1607901716212482048,20154732
4,['1607899966974095362'],@sineadcunningha @RobertCheeke It's weird that...,1607899966974095362,1479321660721225730

In [16]:
Butter_text_ie.shape
Cheese_text_ie.shape

(35, 4)

(27, 4)

In [44]:
Butter_text_ie['Tweet']='Butter'
Butter_text_ie.head()

,edit_history_tweet_ids,author_id,text,id,Tweet
0,['1608553799244992512'],251500395,@JackLombardi @AdamKinzinger We are all ‚Äúgloba...,1608553799244992512,Butter
1,['1608493257683603456'],732941099849912320,Enjoy üáÆüá™ McCambridge soda bread mix across the...,1608493257683603456,Butter
2,['1608349591920934914'],1569070813,"https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ir...",1608349591920934914,Butter
3,['1608294795796955136'],15258782,@plentyofalcoves the things I saw them do with...,1608294795796955136,Butter
4,['1608184326499274752'],1569070813,"https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ir...",1608184326499274752,Butter

In [45]:
Cheese_text_ie['Tweet']='Cheese'
Cheese_text_ie.head()

,text,id,author_id,edit_history_tweet_ids,Tweet
0,@JustineClaire65 And black is white and up is ...,1608571082461560837,1085889301232173061,['1608571082461560837'],Cheese
1,We are spending a few days in Ireland with Nea...,1608372605555298307,213212254,['1608372605555298307'],Cheese
2,@Sandra46427493 @historyinmemes Maybe read a b...,1608345442877673473,1391819827623469060,['1608345442877673473'],Cheese
3,I just had cheese and crackers for the first t...,1608278061148946436,1389339805658632204,['1608278061148946436'],Cheese
4,@Goosey30111568 @MatthewStadlen 6 cont) means ...,1608162720028696579,710746848,['1608162720028696579'],Cheese

In [19]:
Butter_Cheese_Tweets = pd.merge(Butter_text_ie, Cheese_text_ie, how="outer")

In [20]:
Butter_Cheese_Tweets.shape

(62, 5)

In [21]:
Butter_Cheese_Tweets

,edit_history_tweet_ids,author_id,id,text,Tweet
0,['1608080492280135681'],1569070813,1608080492280135681,"https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ir...",Butter
1,['1608073307923906563'],1478727624432173057,1608073307923906563,Lots of #Brexit problems. About 2:09: An order...,Butter
2,['1608056702103863298'],45626088,1608056702103863298,I went from not having cows milk in few years ...,Butter
3,['1608042608009547776'],3871294456,1608042608009547776,@punchedmonet_ @alannah_siobhan Wasn't it an i...,Butter
4,['1607779250463191040'],14441449,1607779250463191040,"@DanKaszeta In Ireland ""green bacon"" refers to...",Butter
...,...,...,...,...,...
57,['1605961378589577217'],584482727,1605961378589577217,@morane_bertrand @BritainElects Being in the S...,Cheese
58,['1605939096001531904'],1530456764923236353,1605939096001531904,@Cryptorat2022 @Donald_I_2022 This is an adver...,Cheese
59,['1605639751322767361'],1600006860979015680,1605639751322767361,Today I learned that Cheese and Onion Tayto‚Äôs ...,Cheese
60,['1605599934840901632'],1596261078111064064,1605599934840901632,@RaJahOHara @SummerWalkerSon queen we do garli...,Cheese
61,['1605597031417929728'],2310027304,1605597031417929728,Christmas has come early for me üéÑwith my Chees...,Cheese

In [22]:
Butter_Cheese_Tweets.to_excel('Butter_Cheese_Tweets.xlsx', index = False)

### Data for Testing

In [36]:
with open ('Butter_ie_test.json', 'r', encoding='utf-8') as f:
    data= json.load(f)
    data = data['data']
            
with open ('Butter_ie_test.csv', 'w', encoding='utf-8') as f:
    fieldnames = data[0].keys()
    writer= csv.DictWriter(f, fieldnames=fieldnames)
    writer.writeheader()
    for text in data:
        writer.writerow(text);

42

362

353

161

274

161

161

372

259

345

359

161

347

356

161

161

161

161

232

230

350

334

356

161

151

161

244

179

230

289

169

95

161

327

In [35]:
with open ('Cheese_ie_test.json', 'r', encoding='utf-8') as f:
    data= json.loads(f.read())
    data = data['data']
            
with open ('Cheese_ie_test.csv', 'w', encoding='utf-8') as f:
    fieldnames = data[0].keys()
    writer= csv.DictWriter(f, fieldnames=fieldnames)
    writer.writeheader()
    for text in data:
        writer.writerow(text);

42

315

358

373

161

357

205

313

345

156

192

355

363

326

329

161

337

230

183

194

220

253

345

156

314

321

338

179

In [38]:
Butter_test_ie = pd.read_csv("Butter_ie_test.csv")
Cheese_test_ie= pd.read_csv("Cheese_ie_test.csv")

In [39]:
Butter_test_ie.head()

,edit_history_tweet_ids,author_id,text,id
0,['1608553799244992512'],251500395,@JackLombardi @AdamKinzinger We are all ‚Äúgloba...,1608553799244992512
1,['1608493257683603456'],732941099849912320,Enjoy üáÆüá™ McCambridge soda bread mix across the...,1608493257683603456
2,['1608349591920934914'],1569070813,"https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ir...",1608349591920934914
3,['1608294795796955136'],15258782,@plentyofalcoves the things I saw them do with...,1608294795796955136
4,['1608184326499274752'],1569070813,"https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ir...",1608184326499274752

In [40]:
Cheese_test_ie.head()

,text,id,author_id,edit_history_tweet_ids
0,@JustineClaire65 And black is white and up is ...,1608571082461560837,1085889301232173061,['1608571082461560837']
1,We are spending a few days in Ireland with Nea...,1608372605555298307,213212254,['1608372605555298307']
2,@Sandra46427493 @historyinmemes Maybe read a b...,1608345442877673473,1391819827623469060,['1608345442877673473']
3,I just had cheese and crackers for the first t...,1608278061148946436,1389339805658632204,['1608278061148946436']
4,@Goosey30111568 @MatthewStadlen 6 cont) means ...,1608162720028696579,710746848,['1608162720028696579']

In [41]:
Butter_test_ie.shape
Cheese_test_ie.shape

(33, 4)

(27, 4)

In [43]:
Butter_test_ie['Tweet']='Butter'
Butter_test_ie.head()

,edit_history_tweet_ids,author_id,text,id,Tweet
0,['1608553799244992512'],251500395,@JackLombardi @AdamKinzinger We are all ‚Äúgloba...,1608553799244992512,Butter
1,['1608493257683603456'],732941099849912320,Enjoy üáÆüá™ McCambridge soda bread mix across the...,1608493257683603456,Butter
2,['1608349591920934914'],1569070813,"https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ir...",1608349591920934914,Butter
3,['1608294795796955136'],15258782,@plentyofalcoves the things I saw them do with...,1608294795796955136,Butter
4,['1608184326499274752'],1569070813,"https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ir...",1608184326499274752,Butter

In [46]:
Cheese_test_ie['Tweet']='Cheese'
Cheese_test_ie.head()

,text,id,author_id,edit_history_tweet_ids,Tweet
0,@JustineClaire65 And black is white and up is ...,1608571082461560837,1085889301232173061,['1608571082461560837'],Cheese
1,We are spending a few days in Ireland with Nea...,1608372605555298307,213212254,['1608372605555298307'],Cheese
2,@Sandra46427493 @historyinmemes Maybe read a b...,1608345442877673473,1391819827623469060,['1608345442877673473'],Cheese
3,I just had cheese and crackers for the first t...,1608278061148946436,1389339805658632204,['1608278061148946436'],Cheese
4,@Goosey30111568 @MatthewStadlen 6 cont) means ...,1608162720028696579,710746848,['1608162720028696579'],Cheese

In [47]:
Butter_Cheese_Tweets_test = pd.merge(Butter_test_ie, Cheese_test_ie, how="outer")

In [48]:
Butter_Cheese_Tweets_test.shape

(60, 5)

In [52]:
Butter_Cheese_Tweets_test.head()
Butter_Cheese_Tweets_test.tail()

,edit_history_tweet_ids,author_id,text,id,Tweet
0,['1608553799244992512'],251500395,@JackLombardi @AdamKinzinger We are all ‚Äúgloba...,1608553799244992512,Butter
1,['1608493257683603456'],732941099849912320,Enjoy üáÆüá™ McCambridge soda bread mix across the...,1608493257683603456,Butter
2,['1608349591920934914'],1569070813,"https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ir...",1608349591920934914,Butter
3,['1608294795796955136'],15258782,@plentyofalcoves the things I saw them do with...,1608294795796955136,Butter
4,['1608184326499274752'],1569070813,"https://t.co/ZPm4YMdViV Lot of 4, Noritake #Ir...",1608184326499274752,Butter

,edit_history_tweet_ids,author_id,text,id,Tweet
55,['1606372831104798728'],20075900,@FootyScran @GalwayUnitedFC Cheese and curry s...,1606372831104798728,Cheese
56,['1606324665261195266'],1338620203228422155,@itshoneylive Yes and it was at some tiny litt...,1606324665261195266,Cheese
57,['1606301053338537984'],3216294682,Three FP Logue cases listed in @IrishLegalNews...,1606301053338537984,Cheese
58,['1606124226431160321'],432134884,When we were in the very northern tip of Irela...,1606124226431160321,Cheese
59,['1606060476487462913'],1547598734384459778,"He will be joining his brothers, Honey Mustard...",1606060476487462913,Cheese

In [53]:
Butter_Cheese_Tweets_test.to_excel('Butter_Cheese_Tweets_test.xlsx', index = False)